@import "mixin.scss";
.container {
  //width: 1226px;
  width: 80%;
  margin: 0 auto;
}

a {
  img {
    width: 100%;
    height: 100%;
  }
}

input {
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

//公共logo

.header-logo {
  //相框
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #ff6600;
  a {
    //圖片
    display: inline-block;
    //width: 110px;
    width: 200%;
    height: 100%;
    &:before {
      @include bgImg(55px, 55px, "/imgs/mi-logo.png", 55px);
      content: " ";
      transition: margin 0.2s;
    }
    &:after {
      @include bgImg(55px, 55px, "/imgs/mi-home.png");
      content: " ";
    }
    &:hover:before {
      margin-left: -55px;
      //可指定特定屬性進行過渡
      transition: margin 0.2s;
    }
  }
}

html {
  //定義1 rem = 10px
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px 12/16=75%
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px 9/16=56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px 8/16 = 50%
  }
  @include respond(phone) {
    font-size: 30%;

  }
}
